<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
<style>
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
</style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">KidneyCare</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#">Hi, {{user.first_name}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout_user' %}">LOGOUT</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">SIGN UP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login_user' %}">LOGIN</a>
            </li>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
            <h1>Welcome to Kidney Care</h1> <br>
            <h3>A website created to help those fighting kidney disease</h3>
            <p>Please login to take advantage of our health tools</p>
            &nbsp;<br>
                <a href="{% url 'login_user' %}" class="btn btn-primary btn-lg">Login</a>
        </div>
      </div>
    </div>
  </header>
<div style="text-align:center">
    &nbsp;


</div>
</body>
</html>