<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Add Food</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}">KidneyCare</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'accountdetails' %}">Account</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'tracker' %}">Food Journal</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'dashboard' %}">Health Tracker</a>
                    </li>
  
                    {% else %}
  
                    {% endif %}
                  </li>
                </ul>
                  <a class="nav-link" style = "color:white" href="{% url 'logout_user' %}">LOGOUT</a>
              </div>
            </div>
          </nav>
<body>
	<form action="/accounts/registerdetails" method="POST" class="form-horizontal">
		{% csrf_token%}
		<div class="mx-auto" style="width: 400px;">

			<div class="col-xs-8 col-xs-offset-4">
				<br>
				<h2 style="text-align:center;">PERSONAL DETAILS</h2>
			</div>
			<hr />

			<div class="form-group">
				<input type="hidden" class="form-control" name="user_id" id="user_id" value="{{user.id}}" placeholder = "{{user.id}}"
			</div>
			<label for="gender" class="form-label mt-4">Gender</label>
			<select class="form-select" id="gender" name="gender">
			  <option>Male</option>
			  <option>Female</option>
			  <option>Other</option>
			</select>
			<br>





			<div class="form-group">
				<label for="age">Age</label>
				<input type="text" class="form-control" name="age" id="age" placeholder="Enter Age"
					Required>
			</div>
<br>

            <div class="form-group">
                <label for="height">Height (in.)</label>
                <input type="text" class="form-control" name="height" id="height" placeholder="Enter Height (in.)"
                    Required>
			<br>	

            <div class="form-group">
                <label for="weight">Weight (lbs.)</label>
                <input type="text" class="form-control" name="weight" id="weight" placeholder="Enter Weight (lbs.)"
                    Required>
			
            </div>
			</div>
			<br>
			<button style="left: 50%; transform: translateX(-50%)" type="submit" class="btn btn-primary">SUBMIT</button>
		</div>
	</form>
	<div class="form-group">
		{% for message in messages %}
		<div class="alert alert-danger" role="alert">
			{{message}}
		</div>
		{% endfor %}
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>