<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Add Food</title>
        <!-- Favicon-->
		<link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}">KidneyCare</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'accountdetails' %}">Account</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'tracker' %}">Food Journal</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'dashboard' %}">Health Tracker</a>
                    </li>
  
                    {% else %}
  
                    {% endif %}
                  </li>
                </ul>
                  <a class="nav-link" style = "color:white" href="{% url 'logout_user' %}">LOGOUT</a>
              </div>
            </div>
          </nav>
<body>
    <br><br>
	<form action="/tracker/adduserfood" method="POST" class="form-horizontal">
		{% csrf_token%}
		<div class="mx-auto" style="width: 400px;">

			<div class="col-xs-8 col-xs-offset-4">
				<h2 style="text-align:center;">Add Food to Journal</h2>
			</div>
			<hr />
			<div class="form-group">
				<label for="name">Food Name: </label>
				<input type="text" class="form-control" name="name" id="name" placeholder="Enter Food Name"
					Required>
			</div>
			<br>
			<div class="form-group">
				<label for="na">Sodium Content (mg): </label>
				<input type="text" class="form-control" name="na" id="na" placeholder="Enter Sodium Content"
					Required>
			</div>
			<br>
			<div class="form-group">
				<label for="potas">Potassium Content (mg):</label>
				<input type="text" class="form-control" name="potas" id="potas" placeholder="Enter Potassium Content"
					Required>
			</div>
			<br>
			<div class="form-group">
				<label for="phos">Phosphorus Content (mg): </label>
				<input type="text" class="form-control" name="phos" id="phos" placeholder="Enter Phosphorus Content" Required>
			</div>
			<br>
			<div class="form-group">
				<label for="protein">Protein Content (g)</label>
				<input type="text" class="form-control" name="protein" id="protein" placeholder="Enter Protein Content"
					Required>

			</div>
			<br>
			<div class="form-group">
				<label for="quantity">Quantity</label>
				<input type="number" class="form-control" name="quantity" id="quantity" min="1" placeholder="Enter Quantity"
					Required>
			</div>
			<br>
			<div class="form-group">
				<label for="date">Date</label>
				<input type="date" class="form-control" name="date" id="date" placeholder="Enter Date"
					Required>
			</div>
			<br>
			<button type="submit" class="btn btn-primary">Add Food to Journal</button>
		</div>
	</form>
	<div class="form-group">
		{% for message in messages %}
		<div class="alert alert-danger" role="alert">
			{{message}}
		</div>
		{% endfor %}
	</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'js/landingpage.js' %}"></script>
</body>
</html>