<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Home</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
        <style>
          .masthead {
            height: 30vh;
            min-height: 500px;
            background-image: url("/static/assets/kidneybanner.jpeg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">KidneyCare</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'accountdetails' %}">Account</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'tracker' %}">Food/Drink Journal</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Health Tracker</a>
                  </li>

                  {% else %}

                  {% endif %}
                </li>
              </ul>
                <a class="nav-link" style = "color:white" href="{% url 'logout_user' %}">LOGOUT</a>
            </div>
          </div>
        </nav>
        <!-- Page content-->
        <header class="masthead">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12 text-center">
                <h1 class="fw-light">Welcome to KidneyCare</h1>
                <p class="lead">Your Specialized Health Tracker and Food Journal Website</p>
              </div>
            </div>
          </div>
        </header>
        <div class="container">
            <div class="text-center mt-5">
       
                <h1>{{user.first_name}}, here are some articles to help you in your Micro and MacroNutrient journey!</h1>
                &nbsp;
                <div class="d-flex p-2 justify-content-center flex-wrap">

                  <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                      <h4 class="card-title"><a href="https://www.saintlukeskc.org/health-library/kidney-disease-avoiding-high-sodium-foods">Sodium</h4></a>
                      <p class="card-text">Want to decrease your sodium intake? Click the link for some ideas of foods to avoid or limit.</p>
                    </div>
                  </div>

                  &nbsp;&nbsp;&nbsp;

                  <div class="card border-primary mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                      <h4 class="card-title"><a href="https://www.medicalnewstoday.com/articles/321750">Potassium</h4></a>
                      <p class="card-text">Want to decrease your potassium levels? Click the link for some ideas of foods to avoid and foods to eat.</p>
                    </div>
                  </div>

                  &nbsp;&nbsp;&nbsp;

                <div class="card border-primary mb-3" style="max-width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title"><a href="https://www.kidneyfund.org/article/your-kidney-friendly-food-plan-managing-phosphorus">Phosphorus</h4></a>
                    <p class="card-text">Want to decrease your Phosphorus intake? Click the link for some ideas of foods to avoid and foods to eat.</p>
                  </div>
                </div>

                               &nbsp;&nbsp;&nbsp;

                <div class="card border-primary mb-3" style="max-width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title"><a href="https://www.davita.com/diet-nutrition/articles/advice/15-kidney-friendly-protein-foods-for-keeping-albumin-up">Albumin</h4></a>
                    <p class="card-text">Want to boost your Albumin levels? Here are some foods that could help.</p>
                  </div>
                </div>

                &nbsp;&nbsp;&nbsp;

                <div class="card border-primary mb-3" style="max-width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title"><a href="https://www.webmd.com/hypertension-high-blood-pressure/ss/slideshow-worst-foods-high-blood-pressure">High Blood Pressure</h4></a>
                    <p class="card-text">Do you have high blood pressure? Let's not compound the issues your body is already dealing with. Here are some additional foods to avoid.</p>
                  </div>
                </div>

                <div class="card border-primary mb-3" style="max-width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title"><a href="https://www.webmd.com/diabetes/diabetic-food-list-best-worst-foods">Diabetes</h4></a>
                    <p class="card-text">Do you have Diabetes? Again, let's not compound the issues your body is already dealing with. Here are some foods (good and bad) to help with your diabetes and Kidney Health.</p>
                  </div>
                </div>

              </div>

            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/landingpage.js' %}"></script>
    </body>
</html>
