<!DOCTYPE html>
{% load static %}
{{query.py}}
<html lang="en">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <title>Dashboard</title>
            <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="{% static 'assets/landingpage.ico' %}" />
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="{% static 'css/landingpage.css' %}" rel="stylesheet" />
        </head>
        <body>
            <div class="container">
                <div class="text-center mt-5">
                  <h1>Daily Tracker</h1>
                  <h6 style="text-align:left">Sodium</h6>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width:{{pctsod}}%;" aria-valuenow="{{totalsod}}" aria-valuemin="0" aria-valuemax="100">{{totalsod}}/2300</div>
                  </div>
                  <br>
    
                  <h6 style="text-align:left">Potassium</h6>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{pctk}}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{totalk}}/2750</div>
                  </div>
                  <br>
    
                  <h6 style="text-align:left">Phosphorus</h6>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{pctphos}}%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">{{totalphos}}/900</div>
                  </div>
                  <br>
    
                  <h6 style="text-align:left">Protein</h6>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{pctpro}}%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{totalpro}}</div>
                  </div>
           sodium: {{totalsod}}
           protein: {{totalpro}}
           phosphorus: {{totalphos}}
           potassium: {{totalk}}

    
        </body>
</html>